table.table {
    font-size: 0.8rem;
}

table.table select {
    font-size: 0.8rem;
}

.container, .container-fluid {
    padding: 0px !important;
}

td select[name*="[clase]"] {
    min-width: 140px;
}

.is-warning {
    border-color: #fc6d0d !important;
    color: #ce7b1b !important;
}

.is-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important;
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14' height='14' fill='none' stroke='%23fc6d0d'%3e%3ccircle cx='7' cy='7' r='5.5'/%3e%3cpath stroke-linejoin='round' d='M6.8 4.2h.4L7 7.5z'/%3e%3ccircle cx='7' cy='9.2' r='.7' fill='%23fc6d0d' stroke='none'/%3e%3c/svg%3e") !important;
    background-size: 1.3em 1.3em !important; 
}


