:root {
    --primary-color: #003366;
    --primary-color-dark: #001d3a;
    --secondary-color: #ffffff;
    --container-color: #ffffff;
    --font-family: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: #f0f0f0;
}

.header-evg {
    padding: 1rem 2rem;
}

.logo-evg {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    display: inline-block;
}

.navbar-evg {
    background-color: var(--primary-color);
}

.navbar-evg .nav-link {
    color: white;
    font-weight: 600;
    margin: 0 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.navbar-evg .nav-link:hover {
    color: rgb(170, 170, 170);
}

.navbar-nav {
    gap: 0.25rem;
}

.bg-custom{
    background-color: var(--primary-color);
}

.bg-container-medium {
    background-color: var(--container-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.button {
    width:70px;
}

.button i {
    font-size: 0.9rem;
}

.button-add {
    margin-right: 1%;
}

.button-edit {
    margin-right: 2%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.button-edit:hover {
    background-color: var(--primary-color-dark);
    color: var(--secondary-color);
}

.container-custom{
    max-width: 85%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .logo-evg {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}