body{
    background: #003366;
    background: linear-gradient(90deg,rgba(0, 51, 102, 0.72) 0%, rgba(255, 255, 255, 1) 50%)
}

.btn-guardia {
    background-color: var(--primary-color-light);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-guardia:hover {
    background-color: var(--primary-color-dark);
    color: #fff;
    cursor: pointer;
}

.btn-salir {
    background: #0F4C81;
    box-shadow: inset 26px -26px 52px #0b3a62,
                inset -26px 26px 52px #135ea0;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    transition: box-shadow 1.5s ease, transform 0.5s ease;
}

.btn-salir:hover {
    background: #0F4C81;
    box-shadow: 0px 0px 20px #135ea0,
                inset -26px 26px 52px #0b396242;
    color: #fff;
    cursor: pointer;
    transform: scale(0.9);
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.icon-card {
    border-radius: 15px;
    background: #0F4C81;
    box-shadow: inset 26px -26px 52px #0b3a62,
                inset -26px 26px 52px #135ea0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    transition: box-shadow 1.5s ease, transform 0.5s ease;
}

.icon-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px #135ea0,
                inset -26px 26px 52px #0b3a62;
    transform: scale(0.9);
}


.icon-card i {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.guardia-box {
    height: 15vh;
    border-radius: 12px;
    background: #0F4C81;
    box-shadow: inset 26px -26px 52px #0b3a62,
                inset -26px 26px 52px #135ea0;
    padding: 20px;
    text-align: center;
}


.hora {
    font-size: 2rem;
    margin: 20px 0;
    font-weight: bold;
}

.container-center{
    margin-top: 15vh;
}