body {
    background: #003366;
    background: linear-gradient(to right, rgba(0, 51, 102, 1) 0%, rgba(255, 255, 255, 1) 90%);
}

h2, .text-primary {
    color: var(--primary-color-dark) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.profile-pic {
    width: 300px;
    height: 300px;
    background-color: var(--container-color);
    border: 3px solid var(--primary-color);
}

.mt-custom {
    margin-top: 10%;
}

@media (max-width: 767px) {
    html, body {
        height: 100%;
        min-height: 100vh;
        font-size: 0.875rem !important; 
    }

    label.form-label {
        color: #ffffff !important;
    }

    #copyMessageBtn {
        background-color: white;
        color: var(--primary-color-dark);
    }

    #copyMessageBtn:hover {
        background-color: var(--primary-color-dark);
        color: white;
    }

    #callmebot_apikey {
        font-size: 0.85rem;
    }
}
